<!DOCTYPE html>
<HTML>
<head>

  <link rel="stylesheet" href="stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />

  <title>Account</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/76/49"></li>
      <li><a href="/">Home</a></li>
      <li class="right_border"><a href="/todo">Todo</a></li>
      <li class="black">spaceapceapspacespacespacespaces!</li>
      <li class="left_border"><a href=""> Change Icon: </a></li>
      <li class="userIcon"\><img src="http://placekitten.com/78/49"></li>
      <li><a href="/account">Logged in as <%= username %></a></li>
      <li class="right_border"><a href="/login">Logout</a></li>
    </ol>
  </div>

</head>
<body>

  <p class="invis">i</p>

  <p class="grey_profile">:)</p>
  <p class="prof_text"><a class="change" href=""> Change</a> Profile Picture</p>
  <img class="profile_pic" src="http://placekitten.com/400/502" />

  <p class="grey_data">block</p>

  <ul class="data">
    <li>Username: <%= username %></li><br><br><br>
    <li>Password: *You know it*</li><input class="edit" type="button" value="EDIT" onClick="" /><br>
    <li>Email: example.email@myemail.com </li><input class="edit" type="button" value="EDIT" onClick="" /><br>
    <li>Who you work for?</li><input class="edit" type="button" value="EDIT" onClick="" /><br>
    <li>more data...</li><input class="edit" type="button" value="EDIT" onClick="" /><br>
  </ul>

</body>
</HTML>