<!DOCTYPE html>
<HTML>
<head>

  <link rel="stylesheet" href="stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />

  <title>Account</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/75/49"></li>
      <li><a href="/">Home</a></li>
      <li><a href="/todo">Todo</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/login">Logout</a></li>
    </ol>
  </div>

</head>
<body>

  <ul class="data">
    <li>Username: <%= username %></li><br><br><br>
    <li>Password: *You know it*</li><input class="edit" type="button" value="EDIT" onClick="" /><br>
    <li>Who you work for?</li><input class="edit" type="button" value="EDIT" onClick="" /><br>
    <li>more data...</li><input class="edit" type="button" value="EDIT" onClick="" /><br>
  </ul>

</body>
</HTML>