<!DOCTYPE html>
<HTML>
<head>

  <link rel="stylesheet" href="stylesheets/css/bootstrap.css" />

  <title>Account</title>

  <div class="navbar"><a>Home</a> | <a>Account</a> | <form method="POST" action="/logout"><input type="submit" value="Logout" /></form></div>

</head>
<body>

  

</body>
</HTML>