<!DOCTYPE html>
<HTML>
<head>

  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Home</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/75/49"></li>
      <li><a href="/">Home</a></li>
      <li><a href="/todo">Todo</a></li>
      <li><a href="/account">Account</a></li>
      <li class="right_border"><a href="/login">Logout</a></li>
    </ol>
  </div>

</head>
<body>

  <h1 class="welcome">Welcome <%= username %> to the Sproutle/Donezo Todo App</h1>
  <h2 class="about">About Sproutle</h2>
  <p>This todo app, is a combination of Cloudant's CouchDB, Connect/Express, JS and Node code, Bootstrap, and some JQuery. Built by Lauren Caswell and Jonathan Luna, led by Scott Sanders. </p>

</body>
</HTML>