<!DOCTYPE html>
<html>

<head>

  <title>Home</title>

</head>

<body>

  <div><a>Home</a> | <a>Account</a> | <form method="POST" action="/logout"><input type="submit" value="Logout" /></form></div>

  <h1>Hello <%= username %></h1>

</body>

</html>