<!DOCTYPE html>
<HTML>
<head>

  <title>Home</title>

  <div><a>Home</a> | <a>Account</a> | <form method="POST" action="/logout"><input type="submit" value="Logout" /></form></div>

</head>
<body>

<h1>Hello <%= username %></h1>

</body>
</HTML>