<!DOCTYPE html>
<HTML>

<head>

  <title>Login</title>

</head>

<body>

<div><a>Home</a> | <a>Account</a> </div>

<form method="POST" action="/login">
  <label>Username:</label>
  <input type="text" name="username" />

  <label>Password:</label>
  <input type="password" name="password" />

  <input type="submit" value="Enter" />
  <input type="button" value="New User?" onClick="" />
</form>

</body>

</HTML