<!DOCTYPE html>
<HTML>
<head>

  <link rel="stylesheet" href="stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />

  <title>Login</title>

</head>
<body>

  <p class="log_box">im invisible!<p>

  <p class="notice">You are not logged in, Please login to continue.</p>

  <form class="login" method="POST" action="/login">
    <label>Username:</label>
    <input class="input_user" type="text" name="username" />

    <label class="label_pass">Password:</label>
    <input type="password" name="password" />

    <input class="enter" type="submit" value="Enter" />
  </form>

  <a class="new_user_link" href="/new_user">New User?</a>
  <p class="tiny_grey">p</p>

</body>
</HTML>