<!DOCTYPE html>
<HTML>
<head>

  <link rel="stylesheet" href="stylesheets/css/bootstrap.css" />

  <title>Login</title>

</head>
<body>

  <form method="POST" action="/login">
    <label>Username:</label>
    <input type="text" name="username" />

    <label>Password:</label>
    <input type="password" name="password" />

    <input type="submit" value="Enter" />
    <input type="button" value="New User?" onClick="" />
  </form>

</body>
</HTML>