<DOCTYPE html>
<HTML>

<head>

  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>New User</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/78/49"></li>
      <li class="right_border"><a href="/login">Login</a></li>
    </ol>
  </div>

  </head>
  <body>

  <img class="add_pic" src="http://placekitten.com/400/500" />

  <p class="invis">invisible</p>

  <form class="create_login" method="POST" action="/login">
    <label>Username:</label>
    <input class="input_user" type="text" name="username" />

    <label>Real Name:</label>
    <input class="input_real_name" type="text" name="real_name" />

    <label class="label_pass">Password:</label>
    <input type="password" name="password" />
    <label class="label_repass">Retype Password:</label>
    <input type="password" name="password" />

    <label class="label_email">Email:</label>
    <input type="text" name-"email" />
  </form>

  <p class="icon_text" >Icon > > > > > > > > > > > > <a href="">Change</a><br><br>Will be displayed whenever you make <br>a comment or author a task. </p>
  <img class="add_icon" src="http://placekitten.com/72/49" />

  <p class="pic_text" ><a href="">Change </a>Profile Picture > > > </p>

  <input class="enter_info" type="submit" value="Enter" />
  <p class="tiny_box">l<p>

  </body>
  </HTML>