<DOCTYPE html>
<HTML>

<head>

  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Todo</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/75/49"></li>
      <li><a href="/">Home</a></li>
      <li><a href="/todo">Todo</a></li>
      <li><a href="/account">Account</a></li>
      <li class="right_border"><a href="/login">Logout</a></li>
    </ol>
  </div>

  </head>
  <body>
  
  <p class="invis">invisible</p>

    <h1 class="proj_title">Title of Project</h1>
    <h2 class="proj_group">Group or orginization associated with</h2>


    <table class="task_table">
      <tr class="title_row">
        <td class="completed">Task Completed? </td>
        <td class="name">Task Name: </td>
        <td class="info">Task Information: </td>
        <td class="due">Task Importance</td>
      </tr>
      <tr>
        <td>if yes, will cross out entire task and have date finished, and move to bottom</td>
        <td><a href="/task">task name (onClick will take to task details), limited characters</a></td>
        <td>brief overview, limit number of characters</td>
        <td>days left until due date or/and how important is it? more important at top</td>
      </tr>
    </table>

  </body>
  </HTML>