<DOCTYPE html>
<HTML>

<head>

  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Todo</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/75/49"></li>
      <li><a href="/">Home</a></li>
      <li class="right_border"><a href="/todo">Todo</a></li>
      <li class="black">spaceapceapspacespacespacespacespacespacespacespa!</li>
      <li class="user_icon"><img src="http://placekitten.com/65/49"></li>
      <li><a href="/account">Logged in as <%= username %></a></li>
      <li class="right_border"><a href="/login">Logout</a></li>
    </ol>
  </div>

  </head>
  <body>
  
  <p class="invis">invisible</p>

    <h1 class="proj_title">Title of Project</h1>
    <h2 class="proj_group">Group or orginization associated with</h2>

    <p class="table_white">asdfg</p>
    <p class="table_grey">qwerty</p>

    <table class="task_table">
      <tr class="title_row">
        <td class="completed">Task Completed? </td>
        <td class="name"><span class="white">w</span>Task Name: <span class="white">qwerty</span></td>
        <td class="info"><span class="white">somespacesomething!</span>Task Information: <span class="white">songsomethingsomething</span></td>
        <td class="due">Task Importance</td>
      </tr>
      <tr>
        <td>NO</td>
        <td>Add CouchDB</td>
        <td>Integrate CouchDB to actually store data</td>
        <td>Very Important<br>5 days left!</td>
      </tr>
      <tr>
        <td>NO</td>
        <td><a href="/task">Adding CSS</a></td>
        <td>create a simple CSS layout</td>
        <td>slightly important<br>3 days left!</td>
      </tr>
    </table>

  </body>
  </HTML>