<DOCTYPE html>
<HTML>

<head>

  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Task</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/75/49"></li>
      <li><a href="/">Home</a></li>
      <li class="right_border"><a href="/todo">Todo</a></li>
      <li class="black">spaceapceapspacespacespacespacespacespacespacespa!</li>
      <li class="user_icon"><img src="http://placekitten.com/65/49"></li>
      <li><a href="/account">Logged in as <%= username %></a></li>
      <li class="right_border"><a href="/login">Logout</a></li>
    </ol>
  </div>

</head>
<body>
  
  <p class="invis">invisible</p>

    <h1 class="task_title"><%= row.title %></h1>;
    <h2 class="task_group"><a href="/project">Project</a> associated with</h2><br>

   <ul class="task_author">
      <li id="top" class="a_title">Task Name: <span class="grayed">Add CSS</span></li><br>
      <li id="top" class="a_title">Task Created by: <span class="grayed">username</span></li>
      <li class="a_title">Date Created: <span class="grayed">month/day/year</span></li>
      <li class="a_title">Task Information: </li>
      <li id="indent" class="grayed">Detailed description...yada, yada, yada...add some simple CSS so it looks like a web page!</li>
      <li class="a_title">Task Impotance: <span class="grayed">Slightly Important</span></li>
      <li class="a_title">Due: <span class="grayed">in 3 days!</span></li>
    </ul><br><br><br><br>

    <p class="full_line">blik</p>

    <p class="grey_square">sque</p>
    <h3 class="task_name">Progress:</h3>
    <p class="grey_rectangle">rect</p>
    <h3 class="add_prog"><a href="">Add Progress</a></h3><br>

    <ul class="progression"><br>
      <span class="input_prog">
        <p class="light_grey">:P</p>
        <a href="/profile"><img class="icon" src="http://placekitten.com/91/49" /></a>
        <p class="include_username2">username</p>
        <li class="a_title"><br>On <span class="grayed">month/date/year</span></li>
        <li class="a_title">username <span class="grayed">did this to help out</span><br><br></li>
      </span>
      <li class="split_line">blok</li><br>
      <span class="input_prog">
        <p class="light_grey">:P</p>
        <a href="/profile"><img class="icon" src="http://placekitten.com/96/49" /></a>
        <p class="include_username2">username</p>
        <li class="a_title"><br>On <span class="grayed">month/date/year</span></li>
        <li class="a_title">username <span class="grayed">did this and this <span class="finished">FINISHING THE TASK</span></span><br><br></li><br><br>
      </span>
    </ul>

    <p class="the_end">~Credits to Lauren Caswell/Jonathan Luna/Scott Sanders~</p>

</body>
</HTML>