<DOCTYPE html>
<HTML>

<head>

  <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Todo</title>

  <div class="navbar">
    <ol class="nav">
      <li class="logo"><img src="http://placekitten.com/75/49"></li>
      <li><a href="/">Home</a></li>
      <li><a href="/todo">Todo</a></li>
      <li><a href="/account">Account</a></li>
      <li class="right_border"><a href="/login">Logout</a></li>
    </ol>
  </div>

  </head>
  <body>

    <h1 class="proj_title">Title of Project</h1>
    <h2 class="proj_group">Group or orginization associated with</h2><br>
    <h3 class="task_name">Task Name</h3><br>


   <ul>
      <li class="a_title">Task Created by: </li>
      <li>username</li><br>
      <li class="a_title">Date Created</li>
      <li>month, day, year</li><br><br>
      <li class="a_title">Task Information: </li><br>
      <li>Detailed description...yada, yada, yada...</li><br><br>
      <li class="a_title">Task Impotance: </li>
      <li>Just Important</li><br>
      <li class="a_title">Due: </li>
      <li>in this many days.</li>
    </ul><br><br>


    <h3 class="task_name">Progress:</h3><br>

    <ul>
      <li class="a_title">On </li>
      <li>this date...</li><br>
      <li class="a_title">username </li>
      <li>did this and this to help out with this task.</li><br><br>
      <li class="a_title">On </li>
      <li>this date...</li><br>
      <li class="a_title">username </li>
      <li>did this and this to help out with this task, finishing it.</li><br><br>
    </ul>


  </body>
  </HTML>