/*general*/
.navbar li.logo {
  padding: 0px;
  border-left: 4px solid black;
}

.navbar li{
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  font-size: 20px;
}

.navbar li.right_border {
  border-right: 4px solid black;
}

.navbar .nav{
  margin-right: 100px;
  margin-left: 50px;
  margin-bottom: 20px;
}

/*login*/
.notice {
  margin: 20px 20px 10px 33px;
  font-size: 15px;
}

input .login {
  padding: 30px;
  font-size: 15px;
}

.login {
  padding: 30px;
  padding-top: 20px;
}

.enter {
  margin-left: 20px;
}

.new_user {
  margin: 10px 30px 20px 244px;
}

/*home*/
.welcome {
  clear: left;
  margin-left: 80px;
  margin-bottom: 30px;
}

.about {
  margin-left: 80px;
}

/*todo*/
.project_list {
  clear: left;
  list-style-type: none;
  font-size: 25px;
  padding: 20px;
}

.project_list li {
  margin: 15px;
  padding: 10px;
}

/*project*/
.task_table {
  border: 2px solid black;
  padding: 5px;
  clear: left;
}

.task_table td {
  padding: 5px;
  border: 1px solid black;
  margin: 20px;
}

.task_table .title_row {
  font-weight: bold;
}

.proj_title {
  clear: left;
  margin-left: 100px;
}

.proj_group {
  clear: left;
  margin-left: 100px;
  margin-bottom: 50px;
}

/*task*/
ul li{
  list-style-type: none;
  margin-left: 20px;
  font-size: 15px;
}

.task_title {
  margin-left: 20px;
}

.a_title {
  font-weight: bold;
}

.task_name {
  margin-left: 16px;
}

/*account*/
.data {
  clear: left;
  font-size: 15px;
  list-style-type: none;
  padding: 10px;
}

.data li {
  padding: 10px;
  border: 2px solid black;
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
}

.edit {
  height: 43px;
  margin-top: 10px;
2