/*general*/
.navbar li.logo {
  padding: 0px;
  border-left: 4px solid black;
}

.navbar li{
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  font-size: 20px;
  background-color: white;
}

.navbar li.right_border {
  border-right: 4px solid black;
}

.navbar li.left_border {
  border-left: 4px solid black;
}

.navbar .nav{
  margin: 20px 50px 20px 50px;
  position: absolute;
}

div .black {
  color: grey;
  background-color: grey;
  border: none;
  line-height: 30px;
}

.invis {
  color: grey;
  background-color: grey;
  width: 1235px;
  line-height: 3em;
  margin-left: 79px;
  margin-right: 215px;
}

/*login*/
.log_box {
  background-color: grey;
  color: grey;
  line-height: 6em;
  margin-right: 530px;
  margin-left: 600px;
}

.notice {
  margin: -70px 550px 35px 550px;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  position: absolute;
}

.login label{
  padding: ;
  font-size: 20px;
  margin-right: 200px;
  margin-bottom: 10px;
}

.login {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  background-color: grey;
}

.enter {
  margin-left: 20px;
  padding: 5px;
}

.new_user {
  margin-top: 20px;
  margin-left: 275px;
  padding: 5px;
}

.input_user {
  margin-right: 70px;
}

.label_pass {
  margin-top: 20px;
}

/*home*/
.welcome {
  clear: left;
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin: 80px 221px 50px 79px;
  background-color: grey;
  color: white;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.about {
  margin-left: 80px;
  border-left: 3px solid black;
  border-bottom: 2px solid black;
  padding-left: 7px;
  margin-right: 1275px;
  color: grey;
}

.des{
  margin: 40px 220px 0px 80px;
  padding-right: 25px;
  padding-bottom: 15px;
  font-size: 17px;
  text-indent: 15px;
  line-height: 2em;
  border-right: 24px solid grey;
  border-bottom: 8px solid grey;
}

.line {
  border-top: 3px solid black;
  color: white;
  margin-right: 220px;
  margin-left: 80px;
}

/*todo*/
.project_list {
  clear: left;
  list-style-type: none;
  font-size: 25px;
  padding: 20px;
}

.project_list li {
  margin: 15px;
  padding: 10px;
}

/*project*/
.task_table {
  border: 2px solid black;
  padding: 5px;
  clear: left;
}

.task_table td {
  padding: 5px;
  border: 1px solid black;
  margin: 20px;
}

.task_table .title_row {
  font-weight: bold;
}

.proj_title {
  clear: left;
  margin-left: 100px;
}

.proj_group {
  clear: left;
  margin-left: 100px;
  margin-bottom: 50px;
}

/*task*/
ul li{
  list-style-type: none;
  margin-left: 20px;
  font-size: 15px;
}

.task_title {
  margin-left: 20px;
}

.a_title {
  font-weight: bold;
}

.task_name {
  margin-left: 16px;
}

/*account*/
.data {
  clear: left;
  font-size: 15px;
  list-style-type: none;
  padding: 10px;
  margin-top: -350px;
  margin-left: 100px;
}

.data li {
  padding: 10px;
  border: 2px solid black;
  display: block;
  float: left;
  clear: left;
  margin-top: 10px;
  background-color: white;
}

.edit {
  height: 43px;
  margin-top: 10px;
  margin-left: 20px;
}

.grey_data {
  color: grey;
  background-color: grey;
  margin: 100px 1350px 10px 80px;
  line-height: 350px;
  border: 2px solid black;
  border-right: none;
}