body {
  padding-top: 60px;
  padding-bottom: 40px;
}

footer {
  color: grey;
  text-align: center;
  margin-top: 50px;
}

#main {
  padding: 30px;
  font-size: 20px;
}

.hero-unit {
  margin: 0;
  padding: 20px;
}

#main.hero-unit {
  margin-bottom: 30px;
  padding-left: 100px;
}

#projectName {
  padding-bottom: 20px;
}

#sidebar {
  padding-bottom: 300px;
}

#comments {
  margin-top: 50px;
  margin-bottom:50px;
  display: fixed;
  margin-left: 350px;
  width: 1065px;
}

#accordian span {
  padding-right: 40px;
  padding-left: 5px;
}
